.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  align-items: center;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  color: #000;
}

.links_list li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #d15807;
  transition: width 0.3s ease-in-out;
}

.links_list li a:hover::after {
  width: 100%;
}

.active {
  font-weight: 800;
  color: #d15807;
}

.btnLogout {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0.3em 1em;
  border: 2px solid rgb(175, 9, 9);
  color: rgb(175, 9, 9);
  border-radius: 5px;
  background-color: transparent;
}

.btnLogout:hover {
  background-color: rgb(175, 9, 9);
  color: #fff;
  border-color: transparent;
}